<!DOCTYPE html>

<html>

<head>
    <title>About</title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
    <img class="portrait" src="./img/IMG_20200708_154942206.jpg">
    <p>we the Navez&Co. try our best to give the best quality product.
        we always try to give shape to your visions. 
    </p>
    </div>

    
   
   
{{>footer}}
</body>
</html>