<!DOCTYPE html>

<html>

<head>
    <title>About</title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
    <img class="portrait" src="./img/IMG_20200708_154942206.jpg">
    <p>we try our best to give you the best quality product.</p>
    <p>we always try out best to enhance to your vision and make it possile</p>     
    </div>

    
   
   
{{>footer}}
</body>
</html>