body {
    background-color: lightgreen;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif ;
    max-width: fit-content;
    margin: 65px auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

h1 {
    color: black;
    font-size: 65px;
    margin-bottom: 10px;
}

.portrait {
    width: 170px;
    border-radius: 70%;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 10px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 50px;
}

header a {
    color: #888888;
    margin-right: 18px;
    text-decoration: none;
    margin: 2px;
}

input {
    border: 1px solid black ;
    padding: 7px;
}

button {
    cursor: pointer;
    border: 1px solid #888888 ;
    background: #888888;
    color: white;
    padding: 8px;
    
}